<!DOCTYPE html>
<html>
  <head>
    <title>One month Rails Project</title>
    <%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<!--- Navigation Bar --->
<nav class="navbar navbar-inverse navbar-toggleable bg-inverse">
  <div class="container"> 
    <ul class="nav navbar-nav">
      <l1 class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></l1>
      <l1 class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></l1>
      <l1 class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></l1>
    </ul>
  </div>
</nav>

<!--- Page Content --->
<%= yield %>

<!--- Footer --->
<footer class="small text-muted">
  <div class="container">
    <h1>
    <center>
      <p>© 2016 One Month</p>
    </center>
  </div>
</footer>

</body>
</html>